# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Java
code/target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/

# Node
frontend/node_modules/
frontend/dist/
frontend/.temp/
frontend/.cache/
frontend/*.local

# Eclipse
.project
.classpath
.settings/
.code.pid
.backend.pid
.factorypath

# Logs
logs/
*.log

# Environment
.env
.env.local
.env.*.local

# frontend
package-lock.json
yarn.lock
tsconfig.tsbuildinfo

# Repos
repos/

# Project
workspace
