<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="WORKSPACE">${env:JETTO_CODE_WORKSPACE:-/opt/Projects/JettoCode/workspace}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="File" fileName="${WORKSPACE}/logs/jettocode.log"
                     filePattern="${WORKSPACE}/logs/jettocode-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${WORKSPACE}/logs" maxDepth="1">
                    <IfFileName glob="jettocode-*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ErrorFile" fileName="${WORKSPACE}/logs/error.log"
                     filePattern="${WORKSPACE}/logs/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>

        <Logger name="com.jettech" level="DEBUG" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.mybatis" level="INFO"/>
        <Logger name="org.apache.commons.dbcp2" level="INFO"/>
        <Logger name="com.jettech.code.mapper" level="ERROR"/>
    </Loggers>
</Configuration>
